.container-operator-list{
    background: white;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.container-operator-progression{
    background: white;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.container-operator-slected{
    background: white;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}
