<div class="container-operator-slected">
    <p *ngIf="operator">Operateur : {{operator.name}}</p>
    <p *ngIf="!operator">Sélectionnez un opérateur dans la liste ci-dessous.</p>
</div>

<div class="container-operator-progression">
    <app-progression-configurator [formGroup]="formGroup" (formChange)="onFormChange($event)"></app-progression-configurator>    
</div>


<div class="container-operator-list">
    <app-filter-container [opFilter]="filters" (filterChange)="onFiltersChange($event)"></app-filter-container>
    <app-operator-list [paginatedResult]="paginatedResult" (pageChange)="onPageChange($event)" (operatorClick)="onTileClick($event)"></app-operator-list>
</div>
