<div class="form" [formGroup]="fGroup">

    <!-- Operator Base status -->

    <div class="select-container">

        <!-- Elite Dropdown -->

        <mat-form-field appearance="fill">
            <mat-label>Elite</mat-label>
            <mat-select formControlName="elite" (selectionChange)="onEliteChange()">
                <mat-option *ngFor="let elite of allEliteOptions" [value]="elite">
                    {{elite}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Level input -->

        <mat-form-field appearance="fill">
            <mat-label>Level</mat-label>
            <input matInput type="number" formControlName="level" min="1" [max]="maxLevel"
                (blur)="handleLevelValidation()">
        </mat-form-field>

        <!--Skill dropdown -->

        <mat-form-field appearance="fill">
            <mat-label>Skill</mat-label>
            <mat-select formControlName="skill" (selectionChange)="updateDependantField('skill', 'skillToReach')">
                <mat-option *ngFor="let skill of allSkillOptions" [value]="skill">
                    {{skill}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>



    <!-- Operator Target status -->

    <div class="select-container">

        <!-- Elite to reach dropdown -->

        <mat-form-field appearance="fill">
            <mat-label>Elite to reach</mat-label>
            <mat-select formControlName="eliteToReach"
                (selectionChange)="updateMaxLevelFieldWithElite(fGroup.get('eliteToReach')?.value)">
                <mat-option *ngFor="let eliteToReach of allEliteOptions" [value]="eliteToReach"
                    [disabled]="eliteToReach < fGroup.get('elite')?.value">
                    {{eliteToReach}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Level to reach input -->

        <mat-form-field appearance="fill">
            <mat-label>Level to reach</mat-label>
            <input matInput id="levelToReach" type="number" formControlName="levelToReach"
                [min]="fGroup.get('elite')?.value !== fGroup.get('eliteToReach')?.value ? 1 : fGroup.get('level')?.value" [max]="maxLevel" (blur)="handleLevelToReachValidation()">
        </mat-form-field>

        <!-- Skill to reach dropdown -->

        <mat-form-field appearance="fill">
            <mat-label>Skill to reach</mat-label>
            <mat-select formControlName="skillToReach" (selectionChange)="onSkillToReachChange()">
                <mat-option *ngFor="let skillToReach of allSkillOptions" [value]="skillToReach"
                    [disabled]="skillToReach < fGroup.get('skill')?.value">
                    {{skillToReach}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>