<div class="home-header">
    <h1>Bienvenue sur Arknights planner</h1>
</div>

<div class="home-container">
    <section class="home-content">
        <h2>Qu'est-ce que c'est ?</h2>
        <p>En quelques mots, ce projet est né d’un manque. Le site de Gamepress proposait un planner pratique pour
            calculer
            les
            ressources nécessaires au développement d’un opérateur, mais le site est down depuis un moment et le planner
            est
            devenu inutilisable.
        </p>
        <p>
            Du coup, j’ai décidé de créer le mien ! Mon objectif est double : offrir un outil simple, accessible et
            facile à
            comprendre, tout en développant mes compétences en tant que développeur fullstack.
        </p>
    </section>


    <section class="home-content">
        <h2>Qui suis-je ?</h2>
        <p>Bonjour, moi c'est Kylian ! Je suis un jeune développeur qui débute dans le monde du développement web. Ce
            projet
            est mon tout premier site, et je l’ai créé pour me lancer un défi : apprendre Angular tout en construisant
            un projet concret.</p>

        <p> Mon objectif principal est de simplifier la planification de mes opérateurs, et j’espère que cet outil
            pourra
            également vous être utile. Merci de prendre le temps de découvrir mon travail !
        </p>
    </section>


    <section class="home-content">
        <h2>Technologies</h2>
        <p>Comme je l'ai mentionné dans une section précédente, j'ai utilisé le framework Angular (<a
                href="https://github.com/angular/angular-cli">Angular CLI</a>) version 19.0.6 pour développer le site.
        </p>
        <p>En tant que débutant, j’ai suivi les recommandations et les bonnes pratiques courantes pour ce type de
            projet.
            Mes choix de technologies et de librairies s'appuient principalement sur les suggestions de la documentation
            officielle, des outils comme Copilot ou d'autres projets open-source dont je me suis inspiré. Pour
            l'instant,
            Angular reste au cœur du projet, et j'en découvre chaque jour un peu plus.</p>
    </section>


    <section class="home-content">
        <h2>Liens</h2>
        <div class="link">
            <a href="https://github.com/Kylian-conraux">GitHub</a>
            <a href="#">PorteFolio</a>
            <a href="https://www.linkedin.com/in/conraux-kylian-b7a6bb14b/">LinkedIn</a>
        </div>
    </section>

</div>

  <!-- Navigation section -->

  <div class="home-header">
    <h2>Navigation</h2>
</div>

  <div class="home-container">
    
    <section class="home-content">
        <h2>Home</h2>
        <p>La page home est la page d'accueil du site et résume mon projet.</p>
    </section>

    <section class="home-content">
        <h2>Liste des opérateurs</h2>
        <p>Cette page liste et permet de trié tous les opérateurs disponible pour ce projet.</p>
    </section>

    <section class="home-content">
        <h2>Planner</h2>
        <p>La page planner pour générer la cout en ressources des opérateurs qu'on veut faire évoluer.</p>
    </section>

  </div>