<div class="home-header">
    <h1>Bienvenue sur Arknights planner</h1>
</div>

<section class="home-content">
    <h2>Qu'est-ce que c'est ?</h2>
    <p>Résumons simplement le projet : Gamepress proposait un planner pour calculer les ressources nécessaires pour
        développer un operateur. Depuis un moment le site est down et
        le planner est devenu inutilisable. Du coup je suis partis pour faire le miens. Ce projet est à double objectif
        : recréer un planner facile d'accès et à comprendre et
        améliorer mes compétences de développement web en tant que développeur fullstack.
    </p>
</section>


<section class="home-content">
    <h2>MOI</h2>
    <p>MOI</p>
</section>

<section class="home-content">
    <h2>Technologies</h2>
    <p>J'ai utilisé le framework Angular ... </p>
</section>

<section class="home-content">
    <h2>Liens</h2>
    <p>GitHub </p>
    <p>PorteFolio</p>
    <p>LinkedIn</p>
</section>

